.row {

}

.mx_auto {

}

.row .carusel_item {
    padding-bottom: 2em;
}

.row .detail_box {
    height: 400px; /* Или друга фиксирана височина */
    overflow: hidden;
    padding-bottom: 2em;
}

.h2 {
    color: #369;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}
